*{
   margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
}

:root {
  /* Primary Colors */
  --primary-blue: #243F5F;
  --primary-blue-dark: #1A2F48;
  --primary-blue-light: #3B5C84;
  --primary-blue-transparent: rgba(59, 92, 132, 0.2);

  /* Neutral Colors */
  --white: #FFFFFF;
  --off-white: #F5F5F5;
  --light-gray: #D9D9D9;
  --gray: #A7A7A7;
  --dark-gray: #4A4A4A;
  --black: #000000;

  /* Accent Colors */
  --gold: #C9A34E;
  --light-gold: #E6C76A;
    --burnished-gold: #b8860b;
 --transparent-gold: rgba(184, 134, 11, 0.2);
  --gold-dark: #A9852D;

  

  /* Shadows */
  --shadow-color: rgba(36, 63, 95, 0.15);
}

h1{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(2rem, 4.3vw, 4.5rem);
  line-height: 1;
}
.subheading{
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;

}
section > .container-fluid, footer > .container-fluid{
  padding:5% 6%;
}
.homeBadgeParent,.homeBadgeParentAlt{
  text-transform: uppercase;
  padding: 3px 12px;
  border-radius: 20px;
  margin-top: 8px;
  font-weight:bold;
  vertical-align: middle;
  width: fit-content;
}
 .homeBadgeParentAlt{
  color:var(--light-gold);
  background-color: var(--burnished-gold);
}
.homeBadgeParent{
  background-color: var(--primary-blue-transparent);
  color: var(--primary-blue-dark);
  
 
  
}
.homeBadge{
   display: inline-block;
  width: 12px;
  height: 12px;
  background: var(--primary-blue-light);
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  
}

p.subtopic {
    font-size: 20px; /* bigger than body text */
    font-weight: 300; /* slightly bolder, optional */
    margin-top: 10px;
    margin-bottom: 15px;
}

/* button buttn */
.borderlessbtn{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--primary-blue);
}
.btn{
  text-transform: capitalize;
   white-space: nowrap;
   margin-right: 10px;
   margin-bottom: 10px;
   color:white;
} 
.btnAlternate, .btnAlternate:hover{
  background: var(--burnished-gold);
  color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.btnSecondary, .btnSecondary:hover{
  background: var(--white);
  color:var(--primary-blue);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.btnPrimary, .btnPrimary:hover{
  background: var(--primary-blue);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
}
.btn-xl {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

/* nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav */
nav{
  text-transform: capitalize;
  background-color: var(--teal);
}

.navbar-brand {
    width: 8%;
}

@media (max-width:750px) {
    .navbar-brand {
        width: 20%;
    }
}
nav .container-fluid{
  padding:0 7% ;
}

/* hero--hero--hero--hero */
#hero{
  background-color:var(--off-white);
}
.heroImage{
  min-height:500px;
}
@media (max-width:750px) {
  .heroImage{
    min-height:300px;
  }
}
